.footer{
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    left: 0;
    text-align: center;
    background-color: #343a40; /* Agregué este estilo para que sea visible en fondo oscuro */
    color: #fff; /* Agregué este estilo para que el texto sea visible */
}
